.privacy-body {
  background: #fffbe9;
}

.policy-section {
  padding-top: 118px;
  padding-bottom: 72px;

  @include media(desktop) {
    padding-top: 142px;
    padding-bottom: 92px;
  }
}

.policy-main-title {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  text-align: center;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 54px;
  }
}

.policy-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  margin-bottom: 18px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.policy-subtitle {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin-bottom: 18px;

  @include media(desktop) {
    font-size: 16px;
  }
}

.policy-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #000;

  &:not(:last-child) {
    margin-bottom: 18px;
  }

  @include media(desktop) {
    font-size: 14px;
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #000;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 18px;
  }

  @include media(desktop) {
    font-size: 14px;
  }
}

.policy-span {
  text-decoration: underline;
}

.policy-link {
  text-decoration: underline;
  word-wrap: break-word;
}
