<section class="section clients-section" id="clients">
  <div class="container clients-container">
    <h2 class="clients-title">Who Uses It</h2>
    <ul class="clients-list">
      <li class="clients-list-item">
        <div class="clients-item-top-wrapper">
          <img
            src="./img/clients/clients-founders.png"
            alt="Rocket"
            width="24"
            height="24"
            loading="lazy"
          />
          <p class="clients-item-profession">Indie Founders</p>
        </div>
        <div class="clients-item-bottom-wrapper">
          <p class="clients-item-text">Pre-seed pitch decks</p>
        </div>
      </li>
      <li class="clients-list-item">
        <div class="clients-item-top-wrapper">
          <img
            src="./img/clients/clients-marketers.png"
            alt="Megaphone"
            width="24"
            height="24"
            loading="lazy"
          />
          <p class="clients-item-profession">Marketers</p>
        </div>
        <div class="clients-item-bottom-wrapper">
          <p class="clients-item-text">Social campaigns & toneboards</p>
        </div>
      </li>
      <li class="clients-list-item">
        <div class="clients-item-top-wrapper">
          <img
            src="./img/clients/clients-designers.png"
            alt="Paint"
            width="24"
            height="24"
            loading="lazy"
          />
          <p class="clients-item-profession">Designers</p>
        </div>
        <div class="clients-item-bottom-wrapper">
          <p class="clients-item-text">Client reports in custom style</p>
        </div>
      </li>
      <li class="clients-list-item">
        <div class="clients-item-top-wrapper">
          <img
            src="./img/clients/clients-studios.png"
            alt="Folder"
            width="24"
            height="24"
            loading="lazy"
          />
          <p class="clients-item-profession">Studios</p>
        </div>
        <div class="clients-item-bottom-wrapper">
          <p class="clients-item-text">Portfolio one-pagers</p>
        </div>
      </li>
      <li class="clients-list-item">
        <div class="clients-item-top-wrapper">
          <img
            src="./img/clients/clients-writers.png"
            alt="Pen"
            width="24"
            height="24"
            loading="lazy"
          />
          <p class="clients-item-profession">Writers</p>
        </div>
        <div class="clients-item-bottom-wrapper">
          <p class="clients-item-text">Moodboards for branding clients</p>
        </div>
      </li>
    </ul>
  </div>
</section>
