<footer class="footer" id="footer">
  <div class="footer-top-wrapper">
    <div class="container footer-container">
      <h2 class="footer-title">
        Be the First to Build Beautiful, Branded Everything
      </h2>
      <address class="footer-contacts-address">
        <ul class="footer-contacts-list">
          <li class="footer-contacts-list-item">
            <p class="footer-contacts-item-email-text">
              Email:
              <a
                class="footer-contacts-item-link"
                href="mailto:studio@joyroyalmania.com
                  "
                >studio@joyroyalmania.com</a
              >
            </p>
          </li>
          <li class="footer-contacts-list-item">
            <p class="footer-contacts-item-address-text">
              Address:
              <a class="footer-contacts-item-link" href=""
                >JoyRoyalMania LLC, Av. da Liberdade 100, Lisbon, Portugal</a
              >
            </p>
          </li>
        </ul>
      </address>
      <a class="footer-btn" href="#home">Request Early Access</a>
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <div class="container footer-container">
      <div class="footer-bottom-content-wrapper">
        <nav class="footer-nav">
          <ul class="footer-list">
            <li class="footer-list-item">
              <a class="footer-link" href="./terms-and-conditions.html"
                >Terms and Conditions</a
              >
            </li>
            <li class="footer-list-item">
              <a class="footer-link" href="./privacy-policy.html"
                >Privacy Policy</a
              >
            </li>
            <li class="footer-list-item">
              <a class="footer-link" href="./cookies-policy.html">Cookies</a>
            </li>
          </ul>
        </nav>
        <a
          class="footer-bottom-email-link"
          href="mailto:studio@joyroyalmania.com
                  "
          >studio@joyroyalmania.com</a
        >
        <p class="footer-bottom-text">
          © 2025 JoyRoyalMania LLC. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
