<section class="section hero-section" id="home">
  <div class="container hero-container">
    <h1 class="hero-title">Design-Driven Presentations. Zero Templates</h1>
    <p class="hero-text">
      Use your brand palette and tone to generate pitch decks, marketing
      visuals, or business reports — powered by AI, styled by elegance.
    </p>
    <a class="hero-btn" href="#footer"
      ><span>Generate a Sample Slide</span>
      <svg class="arrow-icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-arrow-forward"></use></svg
    ></a>
  </div>
</section>
