<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">What It Does</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#samples"
          >Live Samples</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#pitch"
          >Brand-to-Pitch</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#clients">Who Uses It</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#studio"
          >Creator Studio</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#pricing">Pricing</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#footer">Join Beta</a>
      </li>
    </ul>
  </nav>
</div>
