<section class="section pitch-section" id="pitch">
  <div class="container pitch-container">
    <h2 class="pitch-title">From Your Website to a Pitch Deck in 3 Minutes</h2>
    <ul class="pitch-list">
      <li class="pitch-list-item">
        <img
          src="./img/pitch/pitch-img1-mob.png"
          alt="Step of the pitch"
          width="163"
          height="133"
          loading="lazy"
        />
      </li>
      <li class="pitch-list-item">
        <img
          src="./img/pitch/pitch-img2-mob.png"
          alt="Step of the pitch"
          width="163"
          height="133"
          loading="lazy"
        />
      </li>
      <li class="pitch-list-item">
        <img
          src="./img/pitch/pitch-img3-mob.png"
          alt="Step of the pitch"
          width="163"
          height="133"
          loading="lazy"
        />
      </li>
      <li class="pitch-list-item">
        <img
          src="./img/pitch/pitch-img4-mob.png"
          alt="Step of the pitch"
          width="163"
          height="133"
          loading="lazy"
        />
      </li>
      <li class="pitch-list-item">
        <img
          src="./img/pitch/pitch-img5-mob.png"
          alt="Step of the pitch"
          width="163"
          height="133"
          loading="lazy"
        />
      </li>
    </ul>
    <img
      class="pitch-img-desk"
      src="./img/pitch/pitch-bg-desk.png"
      alt="Steps of the pitch"
      width="1178"
      height="433"
      loading="lazy"
    />
    <a class="pitch-btn" href="#footer"
      ><span>Try BrandScan Generator</span>
      <svg class="arrow-icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-arrow-forward"></use></svg
    ></a>
  </div>
</section>
