<section class="pricing-section section" id="pricing">
  <div class="pricing-section-wrapper">
    <div class="container pricing-container">
      <h2 class="pricing-title section-title">Pricing</h2>
      <div class="pricing-content-wrapper">
        <div class="pricing-swiper-container">
          <ul class="swiper-wrapper pricing-swiper-wrapper">
            <li class="swiper-slide pricing-slide">
              <div class="pricing-price-wrapper">
                <p class="pricing-price">$0</p>
                <p class="pricing-month">per month</p>
              </div>
              <div class="pricing-slide-table">
                <div class="pricing-slide-header-row">
                  <div
                    class="pricing-slide-header-column pricing-header-first-column"
                  >
                    <p class="pricing-slide-header-text">Plan</p>
                  </div>
                  <div class="pricing-slide-header-column">
                    <p class="pricing-slide-header-text">Free</p>
                  </div>
                </div>
                <div class="pricing-slide-table-row">
                  <div class="pricing-slide-column pricing-first-column">
                    <p class="pricing-slide-title">Projects/month</p>
                  </div>
                  <div class="pricing-slide-column">
                    <p class="pricing-slide-text">1</p>
                  </div>
                </div>
                <div class="pricing-slide-table-row">
                  <div class="pricing-slide-column pricing-first-column">
                    <p class="pricing-slide-title">Brand Scanner</p>
                  </div>
                  <div class="pricing-slide-column checkmark-column">
                    <svg class="cross-icon" width="14" height="14">
                      <use href="./img/sprite.svg#icon-cross"></use>
                    </svg>
                  </div>
                </div>
                <div class="pricing-slide-table-row">
                  <div class="pricing-slide-column pricing-first-column">
                    <p class="pricing-slide-title">Export formats</p>
                  </div>
                  <div class="pricing-slide-column">
                    <p class="pricing-slide-title">PNG</p>
                  </div>
                </div>
                <div class="pricing-slide-table-row">
                  <div class="pricing-slide-column pricing-first-column">
                    <p class="pricing-slide-title">AI Copywriting</p>
                  </div>
                  <div class="pricing-slide-column checkmark-column">
                    <svg class="cross-icon" width="14" height="14">
                      <use href="./img/sprite.svg#icon-cross"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide pricing-slide">
              <div class="pricing-price-wrapper">
                <p class="pricing-price">$19</p>
                <p class="pricing-month">per month</p>
              </div>
              <div class="pricing-slide-table">
                <div class="pricing-slide-header-row">
                  <div
                    class="pricing-slide-header-column pricing-header-first-column"
                  >
                    <p class="pricing-slide-header-text">Plan</p>
                  </div>
                  <div class="pricing-slide-header-column">
                    <p class="pricing-slide-header-text">PRO</p>
                  </div>
                </div>
                <div class="pricing-slide-table-row">
                  <div class="pricing-slide-column pricing-first-column">
                    <p class="pricing-slide-title">Projects/month</p>
                  </div>
                  <div class="pricing-slide-column">
                    <p class="pricing-slide-text">15</p>
                  </div>
                </div>
                <div class="pricing-slide-table-row">
                  <div class="pricing-slide-column pricing-first-column">
                    <p class="pricing-slide-title">Brand Scanner</p>
                  </div>
                  <div class="pricing-slide-column checkmark-column">
                    <svg class="cross-icon" width="16" height="16">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                  </div>
                </div>
                <div class="pricing-slide-table-row">
                  <div class="pricing-slide-column pricing-first-column">
                    <p class="pricing-slide-title">Export formats</p>
                  </div>
                  <div class="pricing-slide-column">
                    <p class="pricing-slide-title">PDF + PPT</p>
                  </div>
                </div>
                <div class="pricing-slide-table-row">
                  <div class="pricing-slide-column pricing-first-column">
                    <p class="pricing-slide-title">AI Copywriting</p>
                  </div>
                  <div class="pricing-slide-column checkmark-column">
                    <svg class="cross-icon" width="16" height="16">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide pricing-slide">
              <div class="pricing-price-wrapper">
                <p class="pricing-price">$59</p>
                <p class="pricing-month">per month</p>
              </div>
              <div class="pricing-slide-table">
                <div class="pricing-slide-header-row">
                  <div
                    class="pricing-slide-header-column pricing-header-first-column"
                  >
                    <p class="pricing-slide-header-text">Plan</p>
                  </div>
                  <div class="pricing-slide-header-column">
                    <p class="pricing-slide-header-text">Studio</p>
                  </div>
                </div>
                <div class="pricing-slide-table-row">
                  <div class="pricing-slide-column pricing-first-column">
                    <p class="pricing-slide-title">Projects/month</p>
                  </div>
                  <div class="pricing-slide-column">
                    <p class="pricing-slide-text">Unlimited</p>
                  </div>
                </div>
                <div class="pricing-slide-table-row">
                  <div class="pricing-slide-column pricing-first-column">
                    <p class="pricing-slide-title">Brand Scanner</p>
                  </div>
                  <div class="pricing-slide-column checkmark-column">
                    <svg class="cross-icon" width="16" height="16">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                  </div>
                </div>
                <div class="pricing-slide-table-row">
                  <div class="pricing-slide-column pricing-first-column">
                    <p class="pricing-slide-title">Export formats</p>
                  </div>
                  <div class="pricing-slide-column">
                    <p class="pricing-slide-title">PDF + PPT + Video</p>
                  </div>
                </div>
                <div class="pricing-slide-table-row">
                  <div class="pricing-slide-column pricing-first-column">
                    <p class="pricing-slide-title">AI Copywriting</p>
                  </div>
                  <div class="pricing-slide-column checkmark-column">
                    <svg class="cross-icon" width="16" height="16">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="dots">
          <div class="pricing-dot active"></div>
          <div class="pricing-dot"></div>
          <div class="pricing-dot"></div>
        </div>
      </div>
      <div class="pricing-content-wrapper-desk">
        <div class="pricing-price-raw-wrapper-desk">
          <div class="pricing-price-wrapper">
            <p class="pricing-price">$0</p>
            <p class="pricing-month">per month</p>
          </div>
          <div class="pricing-price-wrapper">
            <p class="pricing-price">$19</p>
            <p class="pricing-month">per month</p>
          </div>
          <div class="pricing-price-wrapper">
            <p class="pricing-price">$59</p>
            <p class="pricing-month">per month</p>
          </div>
        </div>
        <div class="pricing-slide-table">
          <div class="pricing-slide-header-row">
            <div
              class="pricing-slide-header-column pricing-header-first-column"
            >
              <p class="pricing-slide-header-text">Plan</p>
            </div>
            <div class="pricing-slide-header-column">
              <p class="pricing-slide-header-text">Free</p>
            </div>
            <div class="pricing-slide-header-column">
              <p class="pricing-slide-header-text">PRO</p>
            </div>
            <div class="pricing-slide-header-column">
              <p class="pricing-slide-header-text">Studio</p>
            </div>
          </div>
          <div class="pricing-slide-table-row">
            <div class="pricing-slide-column pricing-first-column">
              <p class="pricing-slide-title">Projects/month</p>
            </div>
            <div class="pricing-slide-column">
              <p class="pricing-slide-text">1</p>
            </div>
            <div class="pricing-slide-column">
              <p class="pricing-slide-text">15</p>
            </div>
            <div class="pricing-slide-column">
              <p class="pricing-slide-text">Unlimited</p>
            </div>
          </div>
          <div class="pricing-slide-table-row">
            <div class="pricing-slide-column pricing-first-column">
              <p class="pricing-slide-title">Brand Scanner</p>
            </div>
            <div class="pricing-slide-column checkmark-column">
              <svg class="cross-icon" width="14" height="14">
                <use href="./img/sprite.svg#icon-cross"></use>
              </svg>
            </div>
            <div class="pricing-slide-column checkmark-column">
              <svg class="cross-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <div class="pricing-slide-column checkmark-column">
              <svg class="cross-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
            </div>
          </div>
          <div class="pricing-slide-table-row">
            <div class="pricing-slide-column pricing-first-column">
              <p class="pricing-slide-title">Export formats</p>
            </div>
            <div class="pricing-slide-column">
              <p class="pricing-slide-title">PNG</p>
            </div>
            <div class="pricing-slide-column">
              <p class="pricing-slide-title">PDF + PPT</p>
            </div>
            <div class="pricing-slide-column">
              <p class="pricing-slide-title">PDF + PPT + Video</p>
            </div>
          </div>
          <div class="pricing-slide-table-row">
            <div class="pricing-slide-column pricing-first-column">
              <p class="pricing-slide-title">AI Copywriting</p>
            </div>
            <div class="pricing-slide-column checkmark-column">
              <svg class="cross-icon" width="14" height="14">
                <use href="./img/sprite.svg#icon-cross"></use>
              </svg>
            </div>
            <div class="pricing-slide-column checkmark-column">
              <svg class="cross-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <div class="pricing-slide-column checkmark-column">
              <svg class="cross-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <a class="pricing-btn" href="#home"
        ><span>Start Free</span>
        <svg class="arrow-icon" width="20" height="20">
          <use href="./img/sprite.svg#icon-arrow-forward"></use></svg
      ></a>
    </div>
  </div>
</section>
