<section class="samples-section section" id="samples">
  <div class="samples-section-wrapper">
    <div class="container samples-container">
      <h2 class="samples-title section-title">
        See What’s Possible with JoyRoyalMania
      </h2>
      <div class="samples-content-wrapper">
        <div class="samples-swiper-container">
          <ul class="swiper-wrapper samples-swiper-wrapper">
            <li class="swiper-slide samples-slide">
              <img
                class="samples-img-mob"
                src="./img/samples/samples-img1-mob.png"
                alt="Table"
                width="343"
                height="324"
                loading="lazy"
              />
            </li>
            <li class="swiper-slide samples-slide">
              <img
                class="samples-img-mob"
                src="./img/samples/samples-img2-mob.png"
                alt="Table"
                width="343"
                height="324"
                loading="lazy"
              />
            </li>
            <li class="swiper-slide samples-slide">
              <img
                class="samples-img-mob"
                src="./img/samples/samples-img3-mob.png"
                alt="Table"
                width="343"
                height="324"
                loading="lazy"
              />
            </li>
            <li class="swiper-slide samples-slide">
              <img
                class="samples-img-mob"
                src="./img/samples/samples-img4-mob.png"
                alt="Table"
                width="343"
                height="324"
                loading="lazy"
              />
            </li>
          </ul>
        </div>
        <div class="dots">
          <div class="samples-dot active"></div>
          <div class="samples-dot"></div>
          <div class="samples-dot"></div>
          <div class="samples-dot"></div>
        </div>
        <div class="samples-btn-wrapper">
          <button class="samples-open-btn">Open</button>
          <button class="samples-duplicate-btn">Duplicate to Edit</button>
        </div>
      </div>
      <div class="samples-content-wrapper-desk">
        <ul class="samples-list-desk">
          <li class="samples-list-item-desk">
            <img
              class="samples-img-desk"
              src="./img/samples/samples-img1-desk.png"
              alt="Table"
              width="405"
              height="383"
              loading="lazy"
            />
            <div class="samples-overlay-container">
              <button class="samples-open-btn-desk">Open</button>
              <button class="samples-duplicate-btn-desk">
                Duplicate to Edit
              </button>
            </div>
          </li>
          <li class="samples-list-item-desk">
            <img
              class="samples-img-desk"
              src="./img/samples/samples-img2-desk.png"
              alt="Table"
              width="405"
              height="383"
              loading="lazy"
            />
            <div class="samples-overlay-container">
              <button class="samples-open-btn-desk">Open</button>
              <button class="samples-duplicate-btn-desk">
                Duplicate to Edit
              </button>
            </div>
          </li>
          <li class="samples-list-item-desk">
            <img
              class="samples-img-desk"
              src="./img/samples/samples-img3-desk.png"
              alt="Table"
              width="405"
              height="383"
              loading="lazy"
            />
            <div class="samples-overlay-container">
              <button class="samples-open-btn-desk">Open</button>
              <button class="samples-duplicate-btn-desk">
                Duplicate to Edit
              </button>
            </div>
          </li>
          <li class="samples-list-item-desk">
            <img
              class="samples-img-desk"
              src="./img/samples/samples-img4-desk.png"
              alt="Table"
              width="405"
              height="383"
              loading="lazy"
            />
            <div class="samples-overlay-container">
              <button class="samples-open-btn-desk">Open</button>
              <button class="samples-duplicate-btn-desk">
                Duplicate to Edit
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
