<section class="section studio-section" id="studio">
  <div class="container studio-container">
    <h2 class="studio-title">Drag Less. Impress More</h2>
    <div class="studio-list-wrapper">
      <ul class="studio-top-list">
        <li class="studio-list-item">
          <picture>
            <source
              srcset="./img/studio/studio-img1-desk.png"
              media="(min-width: 1440px)"
              width="624"
              height="415" />
            <source
              srcset="./img/studio/studio-img1-mob.png"
              width="343"
              height="227" />
            <img
              src="./img/studio/studio-img1-mob.png"
              alt="Table"
              width="343"
              height="227"
              loading="lazy"
          /></picture>
          <p class="studio-item-text">Live color mode switch</p>
        </li>
        <li class="studio-list-item">
          <picture>
            <source
              srcset="./img/studio/studio-img2-desk.png"
              media="(min-width: 1440px)"
              width="624"
              height="415" />
            <source
              srcset="./img/studio/studio-img2-mob.png"
              width="343"
              height="227" />
            <img
              src="./img/studio/studio-img2-mob.png"
              alt="Table"
              width="343"
              height="227"
              loading="lazy"
          /></picture>
          <p class="studio-item-text">Replace text with AI</p>
        </li>
      </ul>
      <ul class="studio-bottom-list">
        <li class="studio-list-item">
          <picture>
            <source
              srcset="./img/studio/studio-img3-desk.png"
              media="(min-width: 1440px)"
              width="624"
              height="415" />
            <source
              srcset="./img/studio/studio-img3-mob.png"
              width="343"
              height="227" />
            <img
              src="./img/studio/studio-img3-mob.png"
              alt="Table"
              width="343"
              height="227"
              loading="lazy"
          /></picture>
          <p class="studio-item-text">One-click tone change</p>
        </li>
        <li class="studio-list-item">
          <picture>
            <source
              srcset="./img/studio/studio-img4-desk.png"
              media="(min-width: 1440px)"
              width="624"
              height="415" />
            <source
              srcset="./img/studio/studio-img4-mob.png"
              width="343"
              height="227" />
            <img
              src="./img/studio/studio-img4-mob.png"
              alt="Table"
              width="343"
              height="227"
              loading="lazy"
          /></picture>
          <p class="studio-item-text">Add dynamic visuals</p>
        </li>
      </ul>
    </div>
  </div>
</section>
